<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 space" id="activities">
      <h1><%= t('dashboard_involved') %></h1>
      <div class="well">#ToDo: Annoncen anzeigen, bei denen ich Kontakt hatte oder welche ich mir vorgemerkt hatte</div>
    </div>
    <div class="col-md-6 space" id="recommendations">
      <h1><%= t('dashboard_recommendations') %></h1>
      <% if @recommendations.blank? && @near_pins.blank? %>
        <%= t('dashboard_no_recommendations') %>
      <% else %>
        <% if !@recommendations.blank? %>
          <h2><%= t('dashboard_recommendations_on_tags') %></h2>
          <div class="list row">
            <% @recommendations.each do |pin| %>
              <%= render :partial => "pins/pin_box", :locals => {:pin => pin} %>
            <% end %>
          </div>
        <% end %>
        <% if !@near_pins.blank? %>
          <h2><%= t('dashboard_recommendations_on_place') %></h2>
          <div class="list row">
            <% @near_pins.each do |pin| %>
              <%= render :partial => "pins/pin_box", :locals => {:pin => pin} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
