<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 space" id="activities">
      <h1><%= t('dashboard_activities') %></h1>
      <% if !@my_activities.empty? %>
        <% @my_activities.each do |activity| %>
          <%= render_activity(activity, :layout => "layouts/activity_wrapper") %>
        <% end %>
      <% else %>
        <%= t('dashboard_no_activities') %>
      <% end %>
    </div>
    <div class="col-md-6 space" id="recommendations">
      <h1><%= t('dashboard_recommendations') %></h1>
      <% if @recommendations.blank? && @near_jobs.blank? %>
        <%= t('dashboard_no_recommendations') %>
      <% else %>
        <% if !@recommendations.blank? %>
          <h2><%= t('dashboard_recommendations_on_tags') %></h2>
          <div class="list row">
            <% @recommendations.each do |job| %>
              <%= render :partial => "jobs/job_box", :locals => {:job => job} %>
            <% end %>
          </div>
        <% end %>
        <% if !@near_jobs.blank? %>
          <h2><%= t('dashboard_recommendations_on_place') %></h2>
          <div class="list row">
            <% @near_jobs.each do |job| %>
              <%= render :partial => "jobs/job_box", :locals => {:job => job} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
