 <script>
$(function() {
	$( "#content-tabs" ).tabs();
});
</script>
<div id="content-tabs">
	<div id="sub-navigation">
	  <ul>
	    <li class="active"><a href="#recommendations">Empfehlungen</a></li>
	    <li><a href="#activities">Aktivitäten</a></li>
	  </ul>
	</div>
  <div class="content-box" id="recommendations">
    <%if @recommendations.empty? && @near_jobs.nil? %>
      Es konnten keine Empfehlungen für dich gefunden werden.
    <% else %>
	    <%if !@recommendations.empty? %>
	      Empfohlene Jobs per Tags:
	      <ul>
	        <% @recommendations.each do |recommendation|%>
	        <li><%= link_to recommendation.title, recommendation %></li>
	        <% end %>
	      </ul>
	    <% end %>
	    <%if !@near_jobs.nil? %>
	      Empfohlene Jobs per Nähe:
	      <ul>
	        <% @near_jobs.each do |job|%>
	        <li><%= link_to job.title, job %></li>
	        <% end %>
	      </ul>
	    <% end %>
    <% end %>
  </div>
  <div class="content-box" id="activities">
    <%if !@my_activities.empty? %>
	      Meine Aktivitäten (aus den involvierten Jobs):
	      <% @my_activities.each do |activity|%>
	        <h3><%= link_to activity.user.name, activity.user %> schrieb <%= link_to activity.created_at, activity %></h3>
	        <p><%= activity.content %></p>
	        <hr />
	      <% end %>
    <% else %>
      Beteilige dich an Jobs, um hier Aktivitäten zu sehen.
    <% end %>
  </div>
</div>
