<div class="breadcrumb-bar">
  <ol class="breadcrumb">
    <% if !@job.parent_id.nil? && Job.find(@job.parent_id).type == 0 %>
      <li><%= link_to t('jobs_category_overview'), :action => "index" %></li>
    <% else %>
      <li><%= link_to t('jobs_overview'), :action => "index" %></li>
    <% end %>
    <% if !@parent_jobs.nil? %>
      <% @parent_jobs.each.with_index do |job, index| %>
        <% break if (job.id == @job.id) %>
        <li><%= link_to job.title, job %></li>
      <% end %>
    <% end %>
  </ol>
</div>

<div <% if @job.status == 3 || user_signed_in? && @job.parent_id.nil? %>class="closed"<% end %> id="job" data-id="<%= @job.id %>">
  <div id="job-title">
    <h1>
      <span class="icon loudspeaker" title="<%=t('jobs_supply') %>"></span>
      <span class="icon-label"><%= @job.title %></span>
    </h1>
    <% if @is_manager && user_signed_in? %></span>
      <div id="job-actions">
        <a href="<%= edit_job_path(@job) %>" class="header-actions"><span class="icon settings"></span></a>
        <% if @job.status.nil? %>
          <div id="job-status">
            <a href="#toDo" class="btn btn-primary">Abnehmer gefunden!</a>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="job-content">
    <div class="row">
      <div id="job-specification" class="col">
        <div id="job-details">
          <div id="job-meta">
            <div id="job-time" <% if !@job.address.blank? %>class="col-lg-6"<% end %>>
              <span class="icon alarm"><!----></span>
              <span class="icon-label">
                <span class="datetime" title="<%= @job.created_at.to_formatted_s(:long) %>"><%= t("created_at", :time => time_ago_in_words(@job.created_at))%></span>
                <% if !@job.deadline.blank? %>
                  <span class="deadline" title="<%= @job.deadline.to_formatted_s(:long) %>">(
                    <% if @job.deadline < DateTime.now %>
                      <%= t("deadline_past", :time => distance_of_time_in_words(Time.now, @job.deadline, true)) %>
                    <% else %>
                      <%= t("deadline_active", :time => distance_of_time_in_words(Time.now, @job.deadline, true)) %>
                    <% end %>
                    )
                  </span>
                <% end %>
              </span>
            </div>
            <% if !@job.address.blank? %>
              <div id="job-location" <% if !@job.address.blank? %>class="col-lg-6"<% end %>>
                <span class="icon map"><!----></span>
                <span class="icon-label">
                  <%= link_to @job.address, {:action => :map_for_job}, :id => "show-map-button",
                              class: "header-actions left",
                              data: {toggle: "modal", target: "#ajax-modal",
                                     lat: @job.latitude, long: @job.longitude} %>
                </span>
              </div>
            <% end %>
          </div>
          <div id="job-description" class="html-content top-margin">
            <% if strip_tags(@job.description).empty? %>
              <span class="notice">Noch keine Beschreibung vorhanden...</span>
            <% else %>
              <div class="job-description-preview"><%= truncate_html @job.description, :length => 150 %>
                <% if @job.description.html_safe.length > 150 %>
                  <%= link_to_function 'Alles lesen', "$('.job-description-preview').hide();$('.job-description-full').show();$('#splitter-close').show();$(this).parent().hide();" %>
                <% end %>
              </div>
              <div class="job-description-full" style="display:none;"><%= @job.description.html_safe %>
                <%= link_to_function 'Weniger', "$('.job-description-full').hide();$('.job-description-preview').show();$('#splitter-open').show();$(this).parent().hide();" %>
              </div>
            <% end %>
          </div>
          <div id="job-tags" class="top-margin">
            <% if not @job.skill_list.empty? %>
              <ul class="tag-list overflow">
                <li><span class="icon tag"></span></li>
                <% @job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                  <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <%= render 'jobs/files' %>
        </div>
      </div>
      <div id="job-communication" class="col">
        <div id="job-contact">
          <h2 class="overflow with-buttons"><span class="icon-label"><%= t("job_interested_in") %></span></h2>
          <div class="manager">
            <%= link_to @manager, :title => @manager.name do %>
              <span class="profile-avatar manager">
                <%= image_tag(avatar_url(@manager.email), alt: "?", :class => "img-circle") %>
              </span>
              <span class="user-name"><%=@manager.name%></span>
            <% end %>
            <p class="user-about">
              <%= truncate_html @manager.about, :length => 150 %>
            </p>
          </div>
          <div class="actions">
            <% if user_signed_in? %>
              <% if !@is_manager && @conversations.empty? %>
                <%= link_to "#", class: "btn btn-primary start-conversation",
                  "data-sid" =>  current_user.id, "data-rip" => @manager.id, 'data-job_id' => @job.id do %>
                  <span class="icon message"></span><span class="icon-label"><%= t("contact_manager") %></span>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to login_path, class: "btn btn-primary" do %>
                <span class="icon message"></span><span class="icon-label"><%= t("contact_manager") %></span>
              <% end %>
            <% end %>
          </div>
          <div id="job-conversations">
            <%= render partial: 'jobs/job_chat' %>
          </div>
        </div>
        <div id="job-similar">
          <h2 class="title">Ähnliche Annoncen</h2>
          <div class="well">#ToDo: Funktion der Aktivitäten durch ähnliche Annoncen ersetzt</div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= gflash %>
