<%= form_for(@job_worker) do |f| %>
  <% if @job_worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_worker.errors.count, "error") %> prohibited this job_worker from being saved:</h2>

      <ul>
      <% @job_worker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.number_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :worker_id %><br />
    <%= f.number_field :worker_id %>
  </div>
  <div class="field">
    <%= f.label :iscreator %><br />
    <%= f.check_box :iscreator %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
