<p id="notice"><%= notice %></p>

<p>
  <b>Job:</b>
  <%= @job_worker.job_id %>
</p>

<p>
  <b>Worker:</b>
  <%= @job_worker.worker_id %>
</p>

<p>
  <b>Iscreator:</b>
  <%= @job_worker.iscreator %>
</p>


<%= link_to 'Edit', edit_job_worker_path(@job_worker) %> |
<%= link_to 'Back', job_workers_path %>
