<div id="list-categories" class="row">
  <% if user_signed_in? %>
    <div class="category new">
      <a href="<%= new_job_path %>/category"><span class="icon add"></span></a>
    </div>
  <% end %>
  <% if @categories.blank? %>
    <div class="category">
      <span class="notice"><%= t('no_categories_definied') %></span>
    </div>
  <% else %>
    <% @categories.each do |category| -%>
      <div class="category">
        <div class="category-head"><%= link_to category.title, category %></div>
        <div class="category-body <% if category.picture? %>show-picture<%end%>">
          <% @tags = Job.where('parent_id' => category.id).skill_counts %>
          <% if category.picture? %>
            <%= link_to category do %>
              <span class="category-img" style="background-image: url('<%=category.picture_url%>');"></span>
            <% end %>
          <% elsif !@tags.empty? %>
            <ul class="tag-list">
              <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
              <% end %>
            </ul>
          <% else %>
            <%= link_to category do %>
              <% if category.description.empty? %>
                <span class="description"><%= category.description %></span>
              <% else %>
                <span class="notice"><%= t('jobs_no_description'); %></span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end -%>
  <% end %>
  <div class="category unsorted">
    <div class="category-head"><a href="/jobs?scope=unsorted"><%=t("Nicht einsortierte Pins")%></a></div>
    <div class="category-body">
      <% if !@unsorted_job_tags.empty? %>
        <ul class="tag-list">
          <% tag_cloud(@unsorted_job_tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
          <% end %>
        </ul>
      <% else %>
        #ToDo: Bild?
      <% end %>
    </div>
  </div>
</div>
