<div id="job-files">
  <h3 class="overflow with-buttons">
    <span class="icon-label left"><%= t('attachment')%></span>
    <% if @is_manager && user_signed_in? %>
      <a href="#" data-toggle="dropdown" class="header-actions dropdown-toggle">
        <span class="icon add"><!-- Add new file --></span>
      </a>
      <ul id="file-upload" class="dropdown-menu">
        <li class="uploader">
          <a href="#" class="upload-button">Computer</a>
          <%= simple_form_for JobsFiles.new, :url => {:action => :new_file}, html: {multipart: true, id: "file-upload-form"} do |f| %>
            <%= f.file_field :file, id: "file-upload-input" %>
          <% end %>
          <script type="text/javascript">
            $(document).on('change', '#file-upload-input', function() {
              $("#file-upload-form").submit();
            });
          </script>
        </li>
      </ul>
    <% end %>
  </h3>
  <% if !@file_images.blank? %>
    <div class="row">
      <div class="job-file-images col-md-6">
        <% @file_images.each do |file| %>
          <%= link_to image_tag(file.file.thumb.url), file.file.url, :class => "show-tooltip thumbnail gallery-item", :title => file.file.file.filename, data: {toggle: "tooltip"} %>
        <% end %>
      </div>
      <div class="job-files-list col-md-6">
        <% @file_others.each do |file| %>
          <a href="<%= file.file %>"><%= file.file.file.filename %>
            (<%= number_to_human_size(file.file.size) %>)</a><a href="#"></a><br/>
        <% end %>
      </div>
    </div>
  <% else %>
    <span class="notice"><%= t("attachment_not_found") %></span>
  <% end %>
</div>
