<%if job.type == 1
    @type_prefix = t('jobs_supply')
    @type_class = 'supply'
  elsif job.type == 2
    @type_prefix = t('jobs_demand')
    @type_class = 'demand'
end %>


<div class="job-box-wrapper <%=@type_class%>">
  <div class="job-box">
    <h3 class="title">
      <%=link_to job do
        if @type_prefix.present?
          content_tag(:span, @type_prefix, :class => 'prefix') + job.title
        else
          job.title
        end
      end%>
    </h3>
    <% if not job.skill_list.empty? %>
      <div class="tag-list overflow small">
        <% job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
          <%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %>
        <% end %>
      </div>
    <% else %>
      <div class="description">
        <%= truncate_html job.description.gsub('<br>', ''), :length => 120 %>
      </div>
    <% end %>
    <div class="job-bottom-line">
      <div class="job-activities"><%= link_to job do %><span class="icon pulse"></span><span class="icon-label"><%= job.activities.count%></span><% end %></div>
      <div class="job-manager">
        <%= link_to image_tag(avatar_url(job.user_email),
        alt: job.user_name, :class => "img-circle small"), user_path(job.user_id), :class => "profile-avatar show-tooltip", :title => job.user_name, data: {toggle: "tooltip"} %>
      </div>
    </div>
  </div>
</div>
