<div id="job-subjobs-header" class="container-fluid">
  <div id="job-type-header">
    <div class="header supply">
      <h2>
        <span class="icon loudspeaker"></span>
        <span class="icon-label"><span class="pre"><%= t('jobs_list_pre') %></span> <%= t('jobs_list_supplies') %></span>
      </h2>
    </div>
    <div class="header filter-wrapper">
      <div class="filter">
        <input type="text" placeholder="Mit einem Suchbegriff einschränken..." class="form-control"/>
      </div>
    </div>
    <div class="header demand">
      <h2>
        <span class="icon-label"><span class="pre"><%= t('jobs_list_pre') %></span> <%= t('jobs_list_demands') %></span>
        <span class="icon search"></span>
      </h2>
    </div>
  </div>
</div>
<div id="job-subjobs-content">
  <div id="list-jobs">
    <div class="supplies list">
      <div class="container-fluid">
        <div class="row">
          <div class="job-add-wrapper">
            <div class="job-add">
              <a href="<%=new_job_path%>/supply">
                <span class="icon add"></span>
                <span class="icon-label"><%= t("jobs_new_supply") %></span>
              </a>
            </div>
          </div>
          <% if @supplies.empty? %>
            <div class="no-entries">
              <%= t('jobs_no_jobs') %>
            </div>
          <% else %>
            <% @supplies.in_groups_of(2, false).each do |sup| %>
              <% sup.each do |job| %>
                <%= render :partial => "job_box", :locals => {:job => job} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="demands list">
      <div class="container-fluid">
        <div class="row">
          <div class="job-add-wrapper">
            <div class="job-add">
              <a href="<%=new_job_path%>/demand">
                <span class="icon add"></span>
                <span class="icon-label"><%= t("jobs_new_demand") %></span>
              </a>
            </div>
          </div>
          <% if @demands.empty? %>
            <div class="no-entries">
              <%= t('jobs_no_jobs') %>
            </div>
          <% else %>
            <% @demands.in_groups_of(2, false).each do |dem| %>
              <% dem.each do |job| %>
                <%= render :partial => "job_box", :locals => {:job => job} %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
