<div class="breadcrumb-bar">
  <ol class="breadcrumb">
    <% if !@job.parent_id.nil? && Job.find(@job.parent_id).type == 0 %>
      <li><%= link_to t('jobs_category_overview'), :action => "index" %></li>
    <% else %>
      <li><%= link_to t('jobs_overview'), :action => "index" %></li>
    <% end %>
    <% @parent_jobs.each.with_index do |job, index| %>
      <% break if (job.id == @job.id) %>
      <li><%= link_to job.title, job %></li>
    <% end %>
  </ol>
</div>

<div <% if @job.status == 3 || user_signed_in? && @job.parent_id.nil? %>class="closed"<% end %> id="job-view" data-id="<%= @job.id %>">
  <div id="job-specification-area">
    <div id="job-details">
      <h1 class="title job">
        <% if @user_role == 3 && user_signed_in? %><span class="icon-label left"><% end %>
        <%= @job.title %>
        <% if @user_role == 3 && user_signed_in? %></span>
          <a href="<%= edit_job_path(@job) %>" class="header-actions left"><span class="icon edit"></span></a>
        <% end %>
      </h1>

      <div class="row">
        <div id="job-meta-wrapper">
          <div id="job-meta">
            <% if !@job.address.blank? && !@job.deadline.nil?
                 @lessColumns = false
               else
                 @lessColumns = true
               end %>
            <div id="job-status-wrapper" class="col-md-2">
              <%= render :partial => "status", :job => @job, :manager => @user_role %>
            </div>

            <% if not @job.deadline.nil? %>
              <div id="job-deadline" class="col-sm-<% if @lessColumns %>8<% else %>4<% end %>">
                <span class="icon pull-left"><!----></span>
                    <span class="icon-label" title="<%= @job.deadline.to_formatted_s(:long) %>">
                      <%= distance_of_time_in_words(Time.now, @job.deadline, true) %>
                      <% if @job.deadline < DateTime.now %>
                        ago (expired)
                      <% else %>
                        to go
                      <% end %>
                    </span>
              </div>
            <% end %>
            <% if !@job.address.blank? %>
              <div id="job-location" class="col-sm-<% if @lessColumns %>8<% else %>4<% end %>">
                <span class="icon pull-left"><!----></span>
                    <span class="icon-label">
                      <%= link_to @job.address, {:action => :map_for_job}, :id => "show-map-button",
                                  class: "header-actions left",
                                  data: {toggle: "modal", target: "#ajax-modal",
                                         lat: @job.latitude, long: @job.longitude} %>
                    </span>
              </div>
            <% end %>
            <div id="job-likes" class="col-sm-2">
              <%= render :partial => "likes", :job => @job %>
            </div>
          </div>
          <div id="job-description" class="html-content top-margin">
            <% if @job.description.empty? %>
              Noch keine Beschreibung vorhanden...
            <% else %>
              <div class="job-description-preview"><%= truncate_html @job.description, :length => 150 %>
                <% if @job.description.html_safe.length > 150 %>
                  <%= link_to_function 'Alles lesen', "$('.job-description-preview').hide();$('.job-description-full').show();$('#splitter-close').show();$(this).parent().hide();" %>
                <% end %>
              </div>
              <div class="job-description-full" style="display:none;"><%= @job.description.html_safe %>
                <%= link_to_function 'Weniger', "$('.job-description-full').hide();$('.job-description-preview').show();$('#splitter-open').show();$(this).parent().hide();" %>
              </div>
            <% end %>
          </div>
          <div id="job-tags" class="top-margin">
            <% if not @job.skill_list.empty? %>
              <ul class="tag-list overflow">
                <li><span class="icon small left"></span></li>
                <% @job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                  <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div id="job-files" class="top-margin">
            <h3 class="overflow with-buttons">
              <span class="icon-label left">Anhänge </span>
              <% if @user_role == 3 && user_signed_in? %>
                <a href="#" data-toggle="dropdown" class="header-actions dropdown-toggle">
                  <span class="icon add"><!-- Add new file --></span>
                </a>
                <ul id="file-upload" class="dropdown-menu">
                  <li class="uploader">
                    <a href="#" class="upload-button">Computer</a>
                    <%= simple_form_for JobsFiles.new, :url => {:action => :new_file}, html: {multipart: true, id: "file-upload-form"} do |f| %>
                      <%= f.file_field :file, id: "file-upload-input" %>
                    <% end %>
                    <script type="text/javascript">
                      document.getElementById("file-upload-input").onchange = function () {
                        document.getElementById("file-upload-form").submit();
                      };
                    </script>
                  </li>
                </ul>
              <% end %>
            </h3>
            <div class="row">
              <div class="job-file-images col-md-6">
                <% @file_images.each do |file| %>
                  <%= link_to image_tag(file.file.thumb.url), file.file.url, :class => "show-tooltip thumbnail", :title => file.file.file.filename, data: {toggle: "tooltip"} %>
                <% end %>
              </div>
              <div class="job-files-list col-md-6">
                <% @file_others.each do |file| %>
                  <a href="<%= file.file %>"><%= file.file.file.filename %>
                    (<%= number_to_human_size(file.file.size) %>)</a><br/>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="job-workers-wrapper">
          <h3 class="overflow with-buttons">
            <span class="icon-label">Beteiligte</span>
            <% if @user_role == 3 %>
              <%= link_to :show_manager_list, id: "edit-manager-button", class: "header-actions left", data: {toggle: "modal", target: "#ajax-modal"} do %>
                <span class="icon edit"></span>
              <% end %>
            <% end %>
          </h3>

          <div class="preview-list workers">
            <ul class="overflow">
              <% if (@workers.empty? && @user_role != 2 && current_user) or @is_manager.empty? %>
                <%= link_to url_for({:action => :support, :support => true, :manager => @is_manager.empty?}), :class => "btn btn-primary" do %>
                  <span class='plus'>+</span>
                <% end %>
              <% end %>
              <% @workers.each.with_index do |worker, index| %>
                <li>
                  <% title = worker.name
                     if (worker.isCreator == 1)
                       title << " (Manager)"
                     end %>
                  <%= link_to worker, :class => "show-tooltip", :title => title, data: {toggle: "tooltip"} do %>
                              <span class="profile-avatar
                                <% if (worker.isCreator == 1) %>manager
                                <% end %>">
                                <%= image_tag(avatar_url(worker), alt: "?", :class => "img-circle") %>
                              </span>
                  <% end %>
                </li>
                <% if index == 2 && (@workers.size - index) > 1 %>
                  <li id="more-members">
                    <button class="btn btn-default">
                      <%= link_to "#more-members-content", :title => "#{@workers.size - index - 1} weitere Arbeiter",
                                  data: {toggle: "tooltip"}, :class => "show-tooltip open-popup-link" do %>
                        <span class='points'>...</span>
                      <% end %>
                    </button>
                  </li>
                  <div id="more-members-content" class="white-popup mfp-hide">
                    <h1>Alle Mitarbeiter für <%= @job.title %></h1>

                    <div class="workers-list">
                      <% @workers.each.with_index do |worker, index| %>
                        <div class="worker">
                          <div class="left">
                            <span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker, :class => "img-circle" %></span>
                          </div>
                          <div class="right"><%= link_to worker.name, worker %></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% break if index == 2 %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="blue-title">
          <h2 class="overflow">
            <% if user_signed_in? %><span class="icon-label left">
            <% end %><%= t('jobs_related') %>
            <% if user_signed_in? %></span>
              <a href="<%= new_sub_job_path(:id => @job.id, :type => 'job') %>" class="header-actions left"><span class="icon contrast add"><!-- Add new job --></span></a>
            <% end %>
          </h2>
        </div>
        <div id="job-subjobs" class="container-fluid space">
          <% if @jobs.empty? %>
            <p><%= t('jobs_no_jobs') %></p>
          <% else %>
            <div class="list">
              <% @jobs.each do |job| %>
                <%= render :partial => "job_box", :locals => {:job => job} %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="blue-title">
          <h2 class="overflow">
            <% if user_signed_in? %><span class="icon-label left">
            <% end %><%= t('jobs_resources_related') %>
            <% if user_signed_in? %></span>
              <a href="<%= new_sub_job_path(:id => @job.id, :type => 'resource') %>" class="header-actions left">
                <span class="icon contrast add"><!-- Add new job --></span></a>
            <% end %>
          </h2>
        </div>
        <div id="job-resources" class="container-fluid space">
          <% if @resources.empty? %>
            <p><%= t('jobs_no_jobs') %></p>
          <% else %>
            <div class="list">
              <% @resources.each do |job| %>
                <%= render :partial => "job_box", :locals => {:job => job} %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="job-activities-area">
    <h2 class="title">Aktivit&auml;ten</h2>
    <% if user_signed_in? %>
      <%= render :partial => "comments/form" %>
    <% else %>
      <div class="activity">
        Du bist nicht angemeldet <%= link_to 'einloggen?', login_path, :class => "btn btn-primary" %>
      </div>
    <% end %>
    <% @activities.each do |activity| %>
      <% if activity.key == "job.commented" %>
        <%= render_activity(activity, :layout => "layouts/activity_wrapper") %>
      <% else %>
        <%= render_activity(activity, :layout => "layouts/activity_wrapper") %>
      <% end %>
    <% end %>
  </div>
</div>
<%= gflash %>