<div id="job-subjobs-header" class="container-fluid">
  <div id="job-type-header">
    <div class="header supply">
      <h2>
        <span class="icon loudspeaker"></span>
        <span class="icon-label"><span class="pre"><%= t('jobs_list_pre') %></span> <%= t('jobs_list_supplies') %></span>
      </h2>
    </div>
    <div class="header filter-wrapper">
      <div class="filter">
        <%= form_tag jobs_path, :method => 'get', :id => 'jobs-search' do %>
          <%= text_field_tag :name, params[:name], :placeholder => t('filter_by'), :class => 'search-input form-control',
          :data => { :scope => "jobs" } %>
        <% end %>
      </div>
    </div>
    <div class="header demand">
      <h2>
        <span class="icon-label"><span class="pre"><%= t('jobs_list_pre') %></span> <%= t('jobs_list_demands') %></span>
        <span class="icon search"></span>
      </h2>
    </div>
  </div>
</div>
<div id="job-subjobs-content">
  <div id="list-jobs">
    <%= render "jobs_list" %>
  </div>
</div>
<%= javascript_include_tag "jobs" %>
