<%if job.type == 1
    @type_prefix = t('jobs_type_project')
    @type_class = 'project'
  elsif job.type == 2
    @type_prefix = t('jobs_type_service')
    @type_class = 'service'
  elsif job.type == 5
    @type_prefix = t('jobs_type_people')
    @type_class = 'service'
  elsif job.type == 3 || job.type == 4
    @type_prefix = t('jobs_type_material')
    @type_class = 'material'
end %>


<% if job.type == 0 %>
  <div class="job-box category">
    <div class="title"><%=link_to job.title, job %></div>
  </div>
<% else %>
  <div class="col-md-6">
    <div class="job-box <%=@type_class%>">
      <div class="title">
        <%=link_to job do
          if @type_prefix.present?
            content_tag(:span, @type_prefix, :class => 'prefix') + job.title
          else
            job.title
          end
        end%>
      </div>
      <% if not job.skill_list.empty? %>
        <div class="tag-list overflow small">
          <% job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
            <%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %>
          <% end %>
        </div>
      <% else %>
        <div class="description">
          <%= truncate_html job.description.gsub('<br>', ''), :length => 120 %>
        </div>
      <% end %>
      <div class="job-bottom-line">
        <div class="job-meta-line">
            <%if job.type == 1 %>
              <div class="job-status view-only">
                <%if job.status == 3%>
                  <div class="status-closed" class="btn btn-sm">
                    <%= link_to job do %><span class="now">Geschlossen</span><span class="new">Offen</span><% end %>
                  </div>
                <%elsif job.status == 2 %>
                  <div class="status-in-work btn btn-sm">
                    <%= link_to job do %><span class="now">In Arbeit</span><span class="new">Geschlossen</span><% end %>
                  </div>
                <%else%>
                  <div class="status-open btn btn-sm">
                    <%= link_to job do %><span class="now">Offen</span><span class="new">In Arbeit</span><% end %>
                  </div>
                <%end%>
              </div>
            <%end%>
            <%if job.votes_for.size > 0 %>
              <div class="job-likes">
                <%= link_to job do %><span class="icon love pull-left"></span><span class="icon-label"><%= job.likes.size %></span><%end%>
              </div>
            <%end%>
            <div class="job-activities"><%= link_to job do %><span class="icon activity pull-left"></span><span class="icon-label"><%= job.activities.count%></span><% end %></div>
        </div>
        <div class="col-sm-5">
          <ul class="preview-list pull-right">
            <% job.jobs_workers.joins(:user).select("name, user_id, email, is_creator").each do |worker| %>
              <%= worker.id %>
              <li class="worker">
                <span class="profile-avatar <% if (worker.is_creator == 1) %>manager
                <% end %>"><%= link_to image_tag(avatar_url(worker), alt: worker.name, :class => "img-circle small" ), worker_path(:id => worker.user_id) %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>