<%if job.type == 1
    @type_prefix = t('jobs_supply')
    @type_class = 'supply'
  elsif job.type == 2
    @type_prefix = t('jobs_demand')
    @type_class = 'demand'
end %>

<div class="job-box-wrapper <%=@type_class%>">
  <div class="job-box">
    <h3 class="title">
      <%=link_to job do %>
        <span class="prefix icon <% if job.type == 2%>search<% elsif job.type == 1%>loudspeaker<% end %>"></span>
        <span class="icon-label"><%= job.title %></span>
      <% end %>
    </h3>
    <% if not job.skill_list.empty? %>
      <div class="tag-list overflow small">
        <% job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
          <%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %>
        <% end %>
      </div>
    <% else %>
      <div class="description">
        <%= truncate_html job.description.gsub('<br>', ''), :length => 120 %>
      </div>
    <% end %>
    <div class="job-bottom-line">
      <div class="job-time">
        <%= link_to job do %>
          <span class="icon alarm"><!----></span>
          <span class="icon-label">
            <span class="datetime" title="<%= job.created_at.to_formatted_s(:long) %>"><%= t("created_at", :time => time_ago_in_words(job.created_at))%></span>
            <% if !job.deadline.blank? %>
              <span class="deadline" title="<%= job.deadline.to_formatted_s(:long) %>">(
                <% if job.deadline < DateTime.now %>
                  <%= t("deadline_past", :time => distance_of_time_in_words(Time.now, job.deadline, true)) %>
                <% else %>
                  <%= t("deadline_active", :time => distance_of_time_in_words(Time.now, job.deadline, true)) %>
                <% end %>
                )
              </span>
            <% end %>
          </span>
        <% end %>
      </div>
      <div class="job-manager">
        <%= link_to image_tag(avatar_url(job.user_email),
        alt: job.user_name, :class => "img-circle small"), user_path(job.user_id), :class => "profile-avatar show-tooltip", :title => job.user_name, data: {toggle: "tooltip"} %>
      </div>
    </div>
  </div>
</div>
