<div id="job-manager-list" data-id="<%=@job.id%>">
  <h1>Managerliste</h1>
  <% if @user_is_manager %>
    <%= simple_form_for(@job) do |f| %>
      <%= f.input :user_list, label: false, placeholder: "Suche den gewünschten Arbeiter",input_html: {
        value: '', class: 'user_with_autocomplete', 'data-autocompleteUrl' => autocomplete_user_users_path
      }%>
      <%= f.hidden_field "manager_ids", :value => @managers.map(&:id).join(",") %>
    <% end %>
  <% end %>
  <% @managers.each do |worker| %>
    <div class="worker">
      <span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker, :title => worker.name, :id => "manager_"+worker.id.to_s, :rel => "tipsy" %></span>
      <% if @user_is_manager %>
        <a href="javascript:;" onclick="removeManager(<%=worker.id%>);return false;">Recht entziehen</a>
      <% end %>
    </div>
  <%  end %>
  <%= @test %>
</div>