<div class="content white">
  <div id="catgories-overview" class="side-space overflow">
    <h1>
      <% if user_signed_in? %><span class="icon-label">
          <% end %><%= t('jobs_category_overview')%>
      <% if user_signed_in? %></span>
          <a href="<%= new_job_path %>/category" class="header-actions"><span class="icon add"></span></a>
      <% end %>
    </h1>
    <% if @categories.empty? %>
        <%= t('no_categories_definied') %>
    <% else %>
        <div id="list-categories" class="row">
          <% @categories.each do |category| -%>
            <div class="category">
              <div class="category-head"><%= link_to category.title, category %></div>
              <div class="category-body">
                <% if category.picture? %>
                    <%= link_to image_tag(category.picture_url), category %>
                <% else %>
                    <ul class="tag-list">
                      <% category.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                          <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
                      <% end %>
                    </ul>
                <% end %>
              </div>
            </div>
          <% end -%>
        </div>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="jobs-overview">
      <div class="unassigned-jobs-content">
        <h1 class="bottom-margin overflow">
          <% if user_signed_in? %><span class="icon-label left"><% end %>
          <%= t('jobs_not_related')%>
          <% if user_signed_in? %></span>
            <a href="<%= new_job_path %>" class="header-actions left"><span class="icon add"></span></a>
          <% end %>
        </h1>
        <% if @jobs.empty? %>
          <%= t('jobs_no_jobs') %>
        <% else %>
          <div class="list-jobs">
            <div class="list">
              <% @jobs.each do |job| %>
                <%= render :partial => "job_box", :locals => {:job => job} %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="unassigned-resources-content">
        <h1 class="bottom-margin overflow">
          <% if user_signed_in? %><span class="icon-label left">
          <% end %><%= t('jobs_resources_not_related')%>
          <% if user_signed_in? %></span>
          <a href="<%= new_job_path %>/resource" class="header-actions left"><span class="icon add"></span></a>
          <% end %>
        </h1>
        <% if @demands.empty? && @supplies.empty? %>
          <%= t('jobs_no_resources') %>
        <% else %>
          <div class="list-jobs">
            <div class="demands list right-space col-md-6">
              <h3><%= t('jobs_demand') %></h3>
              <% if @demands.empty? %>
              <p><%= t('jobs_no_resource') %></p>
            <% else %>
              <% @demands.each do |job| %>
                <%= render :partial => "job_box", :locals => {:job => job} %>
              <% end %>
            <% end %>
          </div>
          <div class="supplies list left-space col-md-6">
            <h3><%= t('jobs_supply') %></h3>
            <% if @supplies.empty? %>
              <%= t('jobs_no_resource') %>
            <% else %>
            <% @supplies.each do |job| %>
                  <%= render :partial => "job_box", :locals => {:job => job} %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>