<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Deadline</th>
    <th>Parent</th>
    <th>Lft</th>
    <th>Rgt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobs.each do |job| %>
  <tr>
    <td><%= job.title %></td>
    <td><%= job.description %></td>
    <td><%= job.deadline %></td>
    <td><%= job.parent_id %></td>
    <td><%= job.lft %></td>
    <td><%= job.rgt %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
