<div class="content white">
  <div id="catgories-overview" class="side-space overflow">
    <h1>
      <% if user_signed_in? %><span class="icon-label">
          <% end %><%= t('jobs_category_overview')%>
      <% if user_signed_in? %></span>
          <a href="<%= new_job_path %>/category" class="header-actions"><span class="icon add"></span></a>
      <% end %>
    </h1>
    <% if @categories.empty? %>
        <%= t('no_categories_definied') %>
    <% else %>
        <div id="list-categories" class="row">
          <% @categories.each do |category| -%>
            <div class="category">
              <div class="category-head"><%= link_to category.title, category %></div>
              <div class="category-body">
                <% if category.picture? %>
                    <%= link_to image_tag(category.picture_url), category %>
                <% else %>
                    <ul class="tag-list">
                      <% category.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                          <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
                      <% end %>
                    </ul>
                <% end %>
              </div>
            </div>
          <% end -%>
        </div>
    <% end %>
  </div>
  <div class="container-fluid">
    <div class="jobs-overview">
      <h1 class="side-space"><%= t('jobs_not_related')%></h1>
      <div class="unassigned-jobs-content">
        <h2 class="bottom-margin overflow">
          <% if user_signed_in? %><span class="icon-label left"><% end %>
          <%= t('jobs_supplies')%>
          <% if user_signed_in? %></span>
            <a href="<%= new_job_path %>/supply" class="header-actions left"><span class="icon add"></span></a>
          <% end %>
        </h2>
        <div class="supplies list">
          <% if @supplies.empty? %>
            <%= t('jobs_no_jobs') %>
          <% else %>
            <% @supplies.in_groups_of(2, false).each do |sup| %>
              <div class="row">
                <% sup.each do |job| %>
                  <%= render :partial => "job_box", :locals => {:job => job} %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="unassigned-resources-content">
        <h2 class="bottom-margin overflow">
          <% if user_signed_in? %><span class="icon-label left"><% end %>
          <%= t('jobs_demands')%>
          <% if user_signed_in? %></span>
          <a href="<%= new_job_path %>/demand" class="header-actions left"><span class="icon add"></span></a>
          <% end %>
        </h2>
        <div class="demands list">
          <% if @demands.empty? %>
            <p><%= t('jobs_no_jobs') %></p>
          <% else %>
            <% @demands.in_groups_of(2, false).each do |dem| %>
              <div class="row">
                <% dem.each do |job| %>
                  <%= render :partial => "job_box", :locals => {:job => job} %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>