<h1>All Jobs</h1>

<div class="pages">
  <%= sorted_nested_li(@jobs, :title) do |job| %>
    <%= link_to job.title, job %>
  <% end %>
</div>

<br />

<%= form_tag jobs_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<%= link_to 'New Job', new_job_path %>
