<% content_for :actionbar do %>
  <ul>
    <li><%= link_to 'Neuer Job', new_job_path %></li>
  </ul>
<% end %>

<div id="sub-navigation">
  <ul>
    <li class="active"><a href="">Alle</a></li>
    <li><a href="">Populär</a></li>
    <li><a href="">Lokal</a></li>
  </ul>
</div>

<div class="pages">
  <%= sorted_nested_li(@jobs, :title) do |job| %>
    <%= link_to job.title, job %>
  <% end %>
</div>

<br />

<%= form_tag jobs_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>