<% content_for :actionbar do %>
  <ul>
    <li><%= link_to 'Neuer Job', new_job_path %></li>
  </ul>
<% end %>
<script>
$(function() {
	$( "#content-tabs" ).tabs();
});
</script>
<div id="content-tabs">
  <div id="sub-navigation">
    <ul>
      <li><a href="#all">Alle</a></li>
      <li><a href="#popular">Popul&auml;r</a></li>
      <li><a href="#local">Lokal</a></li>
    </ul>
  </div>
  <div class="content-box" id="all">
    <%if @jobs.empty? %>
      <%= t('jobs_no_jobs') %>
    <% else %>
      <div id="list-jobs">
        <%= sorted_nested_li(@jobs, :title) do |job| %>
          <%= link_to job.title, job %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="content-box" id="popular">
    Diese Funktion fehlt noch...  
  </div>
  <div class="content-box" id="local">
    <%= form_tag '/jobs#local', :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Near", :name => nil %>
        </p>
      <% end %>
      <% if (params[:search]) %>
        <%if @near_jobs.empty? %>
          <%= t('jobs_no_jobs') %>
        <% else %>
          <div id="list-jobs">
            <%= sorted_nested_li(@near_jobs, :title) do |job| %>
              <%= link_to job.title, job %>
            <% end %>
          </div>
        <% end %>
    <% else %>
        <%= t("jobs_near_search_info") %>
    <% end %>
  </div>
</div>
