<div class="content white">
  <div id="catgories-overview" class="space">
    <h1>
      <% if user_signed_in? %><span class="icon-label left"><%end%>Kategorieübersicht<% if user_signed_in? %></span> 
      <a href="<%=new_job_path%>" class="header-actions left"><span class="icon add"><!-- Add new categorie --></span></a><% end %>
    </h1>
    <%if @categories.empty? %>
      <%= t('no_categories_definied') %>
    <% else %>
      <ul id="list-categories" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <% @categories.each do |categorie| %>
          <li class="category">
            <div class="category-head"><%= link_to categorie.title, categorie %></div>
            <div class="category-body">
              <% if categorie.picture? %>
                <%= link_to image_tag(categorie.picture_url), categorie %>
              <% else %>
              <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 tag-list">
                <% categorie.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                  <li><%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id }, :class => "tag" %></li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="jobs-overview space">
    <h1>
      <% if user_signed_in? %><span class="icon-label left"><%end%>Nicht eingeordnete Jobs<% if user_signed_in? %></span> 
      <a href="<%=new_job_path%>" class="header-actions left"><span class="icon add"><!-- Add new categorie --></span></a><% end %>
    </h1>
    <div class="unassigned-jobs-content clear">
      <%if @jobs.empty? %>
        <%= t('no_jobs') %>
      <% else %>
        <ul id="list-jobs" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
          <li>
            <% @jobs.each do |job| %>
              <div><%= link_to job.title, job %></div>
            <% end %>
          </li>
          <li>
            <% @offers.each do |offer| %>
              <div><%= link_to offer.title, offer %></div>
            <% end %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>