<div class="content white">
  <div class="catgories-overview">
    <h1>Kategorieübersicht <% if user_signed_in? %><%= link_to 'Neuer Job', new_job_path %><% end %></h1>
    <%if @categories.empty? %>
      <%= t('no_categories_definied') %>
    <% else %>
      <ul id="list-categories" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <% @categories.each do |categorie| %>
          <li>
            <div><%= link_to categorie.title, categorie %></div>
            <div>
              <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
                <% categorie.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                  <li><%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id } %></li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="jobs-overview">
    <h1>Nicht eingeordnete Jobs <% if user_signed_in? %><%= link_to 'Neuer Job', new_job_path %><% end %></h1>
    <%if @jobs.empty? %>
      <%= t('no_jobs') %>
    <% else %>
      <ul id="list-jobs" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li>
          <% @jobs.each do |job| %>
            <div><%= link_to job.title, job %></div>
          <% end %>
        </li>
        <li>
          <% @offers.each do |offer| %>
            <div><%= link_to offer.title, offer %></div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>