<div class="container">
  <div id="new-job-page" class="form col-md-6 col-md-offset-3 white-panel clear-top" data-id="<%= @job.id %>">

    <% if !@type.nil? && @type == 0 %>
      <h1>Neue Kategorie</h1>
    <% else %>
      <h1>Neuer Job
        <% if not @parent_job.nil? %>für "<%= @parent_job.title %>"
        <% end %></h1>
    <% end %>

    <%= form_for(@job) do |f| %>
      <% if @job.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>
          <ul>
            <% @job.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if not @parent_job.nil? %>
        <%= f.hidden_field :parent_id, value: @parent_job.id %>
      <% end %>

      <div class="form-group">
        <% if not @type.nil? %>
          <%= f.hidden_field :type, value: @type %>
        <% else %>
          <%= f.label :type, "Typ (0 = Kategorie, 1 = Suche, 2 = Angebot)" %>
          <br/>
          <%= f.text_field :type, class: "form-control" %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="area html-content form-group">
        <%= f.label :description %>
        <%= f.resizable_text_area :description, class: "form-control", rows: "4" %>
      </div>
      <% if @type.nil? && @type != 0 %>
        <div class="form-group">
          <%= f.label :skill_list, "Tags (separated by commas)" %>
          <br/>
          <%= f.text_field :skill_list, class: "form-control" %>
        </div>
        <div class="form-group">
          <div id="show-deadline-link">
            <%= link_to 'Deadline setzen', '#',
                        :onclick => 'showDeadline()', class: "btn btn-default" %>
          </div>
          <div id="deadline-field" class="field" style="display: none;">
            <%= f.label :deadline %>
            <br/>
            <%= f.text_field :deadline, class: "form-control datepicker" %>
          </div>
        </div>
        <div class="form-group">
          <div id="show-place-link">
            <%= link_to 'Ort setzen', '#',
                        :onclick => 'showPlace()', class: "btn btn-default" %>
          </div>
          <div id="place-field" style="display: none;">
            <div class="form-group">
              <%= f.label :country %>
              <br/>
              <%= f.text_field :country, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :city %>
              <br/>
              <%= f.text_field :city, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :street %>
              <br/>
              <%= f.text_field :street, class: "form-control" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="field">
          <%= image_tag(@job.picture_url) if @job.picture? %>
          <%= f.file_field :picture, class: "form-control" %>
          <%= f.hidden_field :picture_cache %>
        </div>
      <% end %>
      <div class="form-group top-margin">
        <%= link_to 'Abbrechen', jobs_path, :class => "btn btn-default" %>
        <%= link_to 'Erstellen', "#", :onclick => "nicEditors.findEditor('job_description').saveContent();sendForm('new_job');return false;", :class => "btn btn-primary pull-right" %>
      </div>
    <% end %>
  </div>
</div>