<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job.title %>
</p>

<p>
  <b>Description:</b>
  <%= @job.description %>
</p>

<p>
  <b>Deadline:</b>
  <%= @job.deadline %>
</p>

<p>
  <b>Parent:</b>
  <%= @job.parent_id %>
</p>

<p>
  <b>Lft:</b>
  <%= @job.lft %>
</p>

<p>
  <b>Rgt:</b>
  <%= @job.rgt %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
