<div id="job-view"<% if @job.status == 3 || user_signed_in? %>class="closed"<% end %>>
  <% if user_signed_in? && @job.status != 3 %>
    <% content_for :actionbar do %>
      <ul class="actions">
        <li><%= link_to 'Aufgabe anlegen', :action => "new" %></li>
        <li><%= link_to 'Like', like_job_path(@job), :id => "like-button", :method => :put, :remote => true%></li>
        <li><% unless @user_role > 1%>
              <% if !@is_manager.empty? %>
                <%= link_to 'Support', :action => "support", :support => true %>
              <%else%>
                <%= link_to 'Managen!', :action => "support", :support => true, :manager => true %>
              <%end%>
            <%else%>
              <%= link_to 'Keine Zeit mehr!', :action => "support" %>
            <%end%>
        </li>
        <% if @user_role == 3 %>
          <li><%= link_to 'Edit', edit_job_path(@job) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <div>
    <% if !@job.parent_id.nil? %>
    <div id="job-breadcrumb">
      <span class="icon"><!-- Breadcrumb --></span>
      <ul>
          <% @parent_jobs.each.with_index do |job,index| %>
            <% break if (job.id == @job.id)%>
            <li><%= link_to job.title, job %></li>
            <% unless @parent_jobs[index+1].nil? %>
              <li>&raquo;</li>
            <% end %>

          <%end%>
      </ul>
      <span class="clear"></span>
    </div>
    <% end %>
    <div id="job" data-id="<%=@job.id%>">
      <div id="job-title"><h1><%= @job.title %></h1>
        <%= render :partial => "status", :job => @job, :manager => @user_role %>
      </div>
      <div id="job-details">
          <div id="job-info">
            <div class="job-tags">
              <% if not @job.skill_list.empty? %>
                <ul>
                  <% @job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                    <li><%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id } %></li>
                  <% end %>
                </ul>
              <% end %>
              <span class="clear"></span>
            </div>
            <div id="job-description"><%if @job.description.empty?%>Noch keine Beschreibung vorhanden...<%else%><%= @job.description %><%end%></div>
          </div>
          <div id="job-meta">
            <div id="job-deadline">
              <span class="icon"><!----></span>
              <span class="icon-label" title="<%= @job.deadline.to_formatted_s(:long) %>"><%=  distance_of_time_in_words(@job.deadline, Time.now, true) %></span><span class="clear"></span></div>
            <div id="job-location">
              <span class="icon"><!----></span><span class="icon-label">
                  <% #gmaps("map_options" => { "auto_zoom" => false, "zoom" => 8},"markers" => { "data" => @json }) %>
                  <%=@job.address%>
                  <br /><a href="#popup-zur-karte">Wo genau?</a>
              </span>
              <span class="clear"></span>
            </div>
          </div>
          <div id="job-more-details">
            <div class="splitter"><a href="#" title="Hier können die Jobdetails dann mal ausgeklappt werden">Jobdetails</a></div>
          </div>
      </div>
      <div id="job-interactions">
        <div id="job-results">
          <h2>Ergebnisse</h2>
          <div class="preview-list results">Das Feature gibt es noch nicht :)</div>
        </div>
        <div id="job-workers">
          <h2>Arbeiter</h2>
          <div class="preview-list workers">
            <ul>
              <% if @workers.empty? && @user_role != 2 && current_user %>
                <span class="profile-avatar add circle-button">
                  <%= link_to :action => :support, :support => true, :manager => @is_manager.empty? do%>
                    <span class='plus'>+</span>
                  <%end%>
                </span>
              <% end %>
              <% @workers.each.with_index do |worker, index| %>
                <li>
                  <% title = worker.name
                  if(worker.isCreator == 1)
                    title << " (Manager)"
                  end %>
                  <span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker, :title => title, :rel => "tipsy" %></span>
                </li>
                <% if index == 2 && (@workers.size - index) > 1%>
                  <li id="more-members">
                    <span class="circle-button">
                      <%= link_to "#more-members-content", :title => "#{@workers.size - index - 1} weitere Arbeiter", :rel => "tipsy", :class => "open-popup-link" do%>
                        <span class='points'>...</span>
                      <%end%>
                    </span>
                  </li>
                  <div id="more-members-content" class="white-popup mfp-hide">
                    <h1>Alle Mitarbeiter für <%=@job.title%></h1>
                    <div class="workers-list">
                      <% @workers.each.with_index do |worker, index| %>
                        <div class="worker">
                          <div class="left"><span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker %></span></div>
                          <div class="right"><%= link_to worker.name, worker %></div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
                <% break if index == 2%>
              <%end%>
                <li id="likes" <% if @job.likes.size == 0 %> class="hidden" <% end %>>
                  <span class="plus">+</span><span class="icon"></span><span class="icon-label likes-number">
                    <a href="#" title="
                       <%= #ToDo -> dynamisch per JS laden 
                       @job.votes.up.by_type(User).voters.map{|v| v.name}.join(", ")%>
                       " rel="tipsy"><%= @job.likes.size %></a>
                  </span>
                </li>
            </ul>
            <span class="clear"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $(function() {
    $( "#content-tabs" ).tabs();
  });
  </script>
  <p id="notice"><%= notice %></p>
  <div id="content-tabs">
    <div id="sub-navigation">
      <ul>
        <li><a href="#job-tasks">Unteraufgaben (<%= @jobs.size %>) </a></li>
        <li class="last"><a href="#job-activities">Aktivit&auml;ten (<%= @activities.size %>)</a></li>
      </ul>
    </div>
    <div class="content-box" id="job-tasks">
        <% @jobs.each do |job|%>
          <div class="job-container">
            <div class="job">
              <div class="job-details">
                <div class="job-title"><h3><%= link_to job.title, job %></h3></div>
                <div class="job-tags">
                  <ul>
                  <% job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                    <li><%= link_to tag.name, { :action => :tag, :id => tag.name } %></li>
                  <% end %>
                  </ul>
                  <span class="clear"></span>
                </div>
              </div>
              <div class="job-interactions">
                <div class="job-fav"></div>
              </div>
              <span class="clear"></span>
            </div>
            <%
              likeClass = "likes-button icon"
              if user_signed_in?
                if current_user.voted_up_on? job
                  likeClass << " voted"
                end
              end 
              if job.likes.size == 0
                likeClass << " no-votes"
              end
            %>
            <div class="job-likes">
              <% if user_signed_in? %>
                <%= link_to '', like_job_path(job), :class => likeClass, :method => :put, :remote => true, :"data-id" => job.id%>
              <% else %>
                <%= link_to '', login_path, :class => "like icon no-login"%>
              <% end %>
              <div class="likes-number <% if job.likes.size == 0 %>hidden<%end%>"><%= job.likes.size %></div>
            </div>
          </div>
        <% end %>
        <%= button_to 'Add Subtask', :action => "new" %>
    </div>
    <div class="content-box" id="job-activities">
      <%= render :partial => "comments/form" %>

      <% @activities.each do |activity| %>
          <%= render_activity(activity, :layout => "layouts/activity_wrapper") %>
      <% end %>
    </div>
  </div>
</div>