<div class="breadcrumb-bar">
  <ol class="breadcrumb">
    <li><%= link_to t('jobs_category_overview'), :action => "index" %></li>
  </ol>
</div>
<div id="category-view" class="content white simple overflow">
  <div id="category-details" class="container-fluid space">
    <div class="row">
      <h1 class="title overflow bottom-margin col-md-6">
        <%= t('unsorted_jobs') %>
      </h1>
      <div class="col-md-6"><h2><%= t('most_used_tags') %></h2>
        <% if @most_used_tags.empty? %>
          <p><%= t('jobs_category_no_tags') %></p>
        <% else %>
          <div class="tag-list">
            <% tag_cloud(@most_used_tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
              <%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => css_class + " tag" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div id="job-subjobs-header" class="container-fluid">
    <div id="job-type-header">
      <div class="header supply">
        <h2>
          <span class="icon loudspeaker"></span>
          <span class="icon-label"><span class="pre"><%= t('jobs_list_pre') %></span> <%= t('jobs_list_supplies') %></span>
        </h2>
      </div>
      <div class="header filter-wrapper">
        <div class="filter">
          <%= form_tag jobs_path, :method => 'get', :id => 'jobs-search' do %>
            <%= text_field_tag :name, params[:name], :placeholder => t('filter_by'), :class => 'search-input form-control',
            :data => { :scope => "unsorted" } %>
          <% end %>
        </div>
      </div>
      <div class="header demand">
        <h2>
          <span class="icon-label"><span class="pre"><%= t('jobs_list_pre') %></span> <%= t('jobs_list_demands') %></span>
          <span class="icon search"></span>
        </h2>
      </div>
    </div>
  </div>
  <div id="job-subjobs-content">
    <div id="list-jobs">
      <%= render "jobs_list" %>
    </div>
  </div>
</div>
<%= javascript_include_tag "jobs" %>
