<% if !@users.empty? %>
  <% @users.each_slice(3) do |slice| -%>
    <div class="row top-margin">
      <% slice.each do |user| -%>
        <div class="col-md-4">
          <div class="user row">
            <div class="user-image col-md-3">
              <span class="profile-avatar"><%= link_to image_tag(avatar_url(user), alt: "?", class: "img-circle"), user, :title => user.name, :rel => "tipsy" %></span>
            </div>
            <div class="user-details col-md-9">
              <div class="user-name"><%= link_to user.name, user %></div>
              <% if !user.latitude.nil? && !user.longitude.nil? %>
                <div class="user-address"><%= user.address %></div>
              <% end %>
              <ul class="tag-list">
                <% user.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                  <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag" %></li>
                <% end %>
              </ul>
            </div>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= t("workers_no_workers"); %>
<% end %>