<h1>Update user</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :skill_list, "Tags (separated by commas)" %><br />
    <%= f.text_field :skill_list %>
  </div>

  <div id="locationFields" style="display: none;">
    <div class="field">
      <%= f.label :country %><br />
      <%= f.text_field :country %>
    </div>
    <div class="field">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :district %><br />
      <%= f.text_field :district %>
    </div>
  </div>
  <div id="coordFields" style="display: none;">
    <div id="status"></div>
    <%= f.text_field :latitude %><%= f.text_field :longitude %>
  </div>
  
  <a href="javascript: getPositionManually();" id="openLocationFields">Ort manuell eintragen</a> oder
  <a href="javascript: getLocation();">Position ermitteln</a> 
  <br />
  <br />
  <div class="field">
    <%= f.label :radius %> in km für Jobempfehlungen<br />
    <%= f.text_field :radius %>
  </div>
  
  <div class="actions"><%= f.submit %></div>
<% end %>
  <script type="text/javascript">
    function getLocation() {
      function success(position) {							
        var s = $('#status');

        // im FF wird die Funktion scheinbar mehrfach aufgerufen - einmal reicht
        if(s.hasClass('success')) {
                return
        }
        $('#coordFields').show();
        $('#locationFields').hide();
        $('#openLocationFields').show();
        s.text("Deine Position konnte ermittelt werden!");
        s.addClass('success');
        $("#user_latitude").val(position.coords.latitude);
        $("#user_longitude").val(position.coords.longitude);

        
        navigator.geolocation.clearWatch(watchId);
      }

      function error(msg) {
              $('#status').text = typeof msg == 'string' ? msg : "error";							
      }

      if (navigator.geolocation) {
              var watchId = navigator.geolocation.getCurrentPosition(success, error);
      } else {
              $('#status').text = "Sorry your browser does not support geolocation."
      }
      
    }
    function getPositionManually() {    
        $('#locationFields').show();
        $('#openLocationFields').hide();
        $('#coordFields').hide();
    }
  </script>