<div class="container">
  <div id="edit-user-page" data-id="<%=@user.id%>" class="col-md-6 col-md-offset-3 white-panel">
    <h1>Edit my profile</h1>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
          <%= f.label :name %>
           <%= f.email_field :name, :autofocus => true, :class => "form-control" %>
          </div>

          <div class="col-md-6">
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control" %>
          </div>
        </div>
      </div>
<!--
      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, :class => "form-control" %>
      </div>
-->

      <div class="form-group">
        <%= f.label :locale, "Sprache" %>
        <%= f.select :locale, I18n.available_locales %>
      </div>

      <div class="form-group">
        <%= f.label :skill_list, "Tags (separated by commas)" %>
        <%= f.text_field :skill_list, :class => "form-control" %>
      </div>

      <div class="form-group <% if (@user.latitude.nil? && @user.longitude.nil?) %>hidden<%end%>" id="radiusField">
        <%= f.label :radius, "Radius (in km für Jobempfehlungen)"%>
        <%= f.text_field :radius, :class => "form-control" %>
      </div>

      <h2>Positon</h2>

      <div id="locationFields" class="form-group" style="display: none;">
        <div class="row">
          <div class="form-group col-md-4">
            <%= f.label :country %>
            <%= f.text_field :country, :class => "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= f.label :city %>
            <%= f.text_field :city, :class => "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= f.label :district %>
            <%= f.text_field :district, :class => "form-control" %>
          </div>
        </div>
      </div>
      <div id="coordFields" style="display: none;">
        <div id="status"></div>
        <div class="form-group">
          <%= f.text_field :latitude, :class => "form-control" %><%= f.text_field :longitude, :class => "form-control" %>
        </div>
      </div>

      <a href="javascript: getPositionManually();" id="openLocationFields">Ort manuell eintragen</a> oder
      <a href="javascript: getLocation();">Position ermitteln</a>

      <div class="form-group top-margin">
        <div class="row">
          <div class="col-md-4">
            <%= link_to 'Abbrechen', jobs_path, :class => "btn btn-default" %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Delete my account', registration_path(@user), :class => "btn btn-default", :data => { :confirm => "Are you sure?" }, :method => :delete %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Speichern', "#", :onclick => "sendForm('edit_user');return false;", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
  <script type="text/javascript">
    function getLocation() {
      function success(position) {							
        var s = $('#status');

        // im FF wird die Funktion scheinbar mehrfach aufgerufen - einmal reicht
        if(s.hasClass('success')) { return }
        $('#coordFields').show();
        $('#locationFields').hide();
        $('#openLocationFields').show();
        $('#radiusField').show();
        s.text("Deine Position konnte ermittelt werden!");
        s.addClass('success');
        $("#user_latitude").val(position.coords.latitude);
        $("#user_longitude").val(position.coords.longitude);

        
        navigator.geolocation.clearWatch(watchId);
      }

      function error(msg) {
        $('#status').text = typeof msg == 'string' ? msg : "error";							
      }

      if (navigator.geolocation) {
        var watchId = navigator.geolocation.getCurrentPosition(success, error);
      } else {
        $('#status').text = "Sorry your browser does not support geolocation."
      }
      
    }
    function getPositionManually() {    
      $('#locationFields').show();
      $('#openLocationFields').hide();
      $('#coordFields').hide();
      $('#radiusField').show();
    }
  </script>