<%= javascript_include_tag "users" %>
<div class="container">
  <div id="edit-user-page" data-id="<%=@user.id%>" class="col-md-6 col-md-offset-3 white-panel">
    <h1>Edit my profile</h1>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
          <%= f.label :name %>
           <%= f.email_field :name, :autofocus => true, :class => "form-control" %>
          </div>

          <div class="col-md-6">
            <%= f.label :email %>
            <%= f.email_field :email, :class => "form-control" %>
          </div>
        </div>
      </div>
<!--
      <div class="form-group">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, :class => "form-control" %>
      </div>
-->

      <div class="form-group">
        <%= f.label :locale, t('user_form_language') %>
        <%= f.select :locale, I18n.available_locales %>
      </div>

      <div class="form-group area html-content">
        <%= f.label :about, t('user_form_about') %>
        <%= f.resizable_text_area :about, :class => "form-control", rows: "4" %>
      </div>

      <div class="form-group">
        <%= f.label :skill_list, t('user_form_tags') %>
        <%= f.text_field :skill_list, :class => "form-control" %>
      </div>

      <div class="form-group <% if (@user.latitude.nil? && @user.longitude.nil?) %>hidden<%end%>" id="radiusField">
        <%= f.label :radius, t('user_form_radius')%>
        <%= f.text_field :radius, :class => "form-control" %>
      </div>

      <h2>Positon</h2>

      <div id="locationFields" class="form-group" <% if @user.address == "" %>style="display: none;"<%end%>>
        <div class="row">
          <div class="form-group col-md-4">
            <%= f.label :country %>
            <%= f.text_field :country, :class => "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= f.label :city %>
            <%= f.text_field :city, :class => "form-control" %>
          </div>
          <div class="form-group col-md-4">
            <%= f.label :district %>
            <%= f.text_field :district, :class => "form-control" %>
          </div>
        </div>
      </div>

      <div id="coordFields" style="display: none;">
        <div id="status"></div>
        <div class="form-group">
          <%= f.text_field :latitude, :class => "form-control" %><%= f.text_field :longitude, :class => "form-control" %>
        </div>
      </div>

      <% if @user.address == "" %><a href="javascript:;" onclick="getPositionManually();return false;" id="openLocationFields">Ort manuell eintragen</a> oder<% end %>
      <a href="javascript:;" onclick="getLocation();return false;">Position ermitteln</a>

      <div class="form-group top-margin">
        <div class="row">
          <div class="col-md-4">
            <%= link_to 'Abbrechen', pins_path, :class => "btn btn-default" %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Delete my account', registration_path(@user), :class => "btn btn-default", :data => { :confirm => "Are you sure?" }, :method => :delete %>
          </div>
          <div class="col-md-4">
            <%= link_to 'Speichern', "#", :onclick => "nicEditors.findEditor('user_about').saveContent();sendForm('edit_user');return false;", :class => "btn btn-primary pull-right" %>
          </div>
        </div>
      </div>
  </div>
</div>
<% end %>
