<div class="full-width row">
  <div id="workers-overview" class="content white space medium-8 columns">
    <h1>Arbeiterübersicht</h1>
    <%if @users.empty? %>
      <%= t('no_users_available') %>
    <% else %>
      <ul id="list-users" class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <% @users.each do |user| %>
          <li>
            <div class="user row">
              <div class="user-image medium-3 columns">
                <span class="profile-avatar"><%= link_to image_tag(avatar_url(user), alt: "?"), user, :title => user.name, :rel => "tipsy" %></span>
              </div>
              <div class="user-details medium-9 columns">
                <div class="user-name"><%= link_to user.name, user %></div>
                <% if !user.latitude.nil? && !user.longitude.nil? %>
                  <div class="user-address"><%= user.address %></div>
                <% end %>
                <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 tag-list">
                  <% user.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                    <li><%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id }, :class => "tag" %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div id="workers-filter" class="space medium-4 columns">
    Filterung
  </div>
</div>
