<%= javascript_include_tag 'users' %>
<div class="container-fluid nospace">
  <div id="workers-overview" class="content white space col-md-8">
    <h1><%=t('worker_overview')%></h1>
    <% if @users.empty? %>
      <%= t('no_users_available') %>
    <% else %>
      <div id="list-users">
        <%= render 'users' %>
      </div>
  <% end %>
  </div>
  <div id="workers-filter" class="space col-md-4">
    <%= form_tag users_path, :method => 'get', :id => 'users-search' do %>
      <%= hidden_field_tag :skill, params[:skill] %>
      <%= hidden_field_tag :city, params[:city] %>
      <%= text_field_tag :name, params[:name], :placeholder => t('filter_by_name'), :class => 'form-control' %>
    <% end %>
    <h2><%= t('filter_by') %></h2>
    <% if !@places.to_a.empty? %>
      <h3><%= t('top_places')%></h3>
      <ul class="place-list">
        <% @places.each do |place| %>
          <li><%= link_to place.city, 'javascript:;', :name => place.city, :class => 'place' %></li>
        <% end %>
      </ul>
    <% end %>
    <% if !@tags.empty? %>
      <h3><%= t('top_skills')%></h3>
      <ul class="tag-list">
        <% @tags.each do |tag| %>
          <li><%= link_to tag.name, 'javascript:;', :name => tag.name, :class => 'tag' %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
