<%= js add_gritter(flash[:notice], :title => notice, :image => :success) %>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Tags:</b>
  <%= @user.skill_list %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
