<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>

<p>
  <b>Tags:</b>
  <%= @user.skill_list %>
</p>
<div class="similar-workers">
  <h2>Ähnliche Arbeiter</h2>
  <% if @similar_users.empty? %>
     Sorry, keine Übereinstimmungen gefunden!
  <% else %>
    <div class="workers-list">
      <ul>
        <% @similar_users.each do |worker|%>
          <li>
            <span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker, :title => worker.name %></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
