<div id="tag-overview">
  <div id="tag-name"><h1>Verbindungen zum Tag <span><%=@tag.name%></span></h1></div>
  <%if @jobs.empty? && @workers.empty? %>
    <div class="content-box">
      Keine Verbindungen gefunden
    </div>
  <%else%>
    <div class="content-box left">
      <div class="linked-jobs">
        <h2>Jobs</h2>
        <div class="jobs-list">
          <% unless @jobs.empty? %>
            <% @jobs.each do |job|%>
              <div class="job-container <% if job.status == 3 %>closed<% elsif job.status == 2 %>in-work<% else %>open<% end %>">
                <div class="job">
                  <div class="job-details">
                    <div class="job-title"><h3><%= link_to job.title, job %>
                <% if job.deadline < DateTime.now %>
                  <span class="expired">(expired)</span>
                <% end %></h3></div>
                    <div class="job-tags">
                      <ul>
                      <% job.tag_counts_on(:skills, :limit => 5, :order => "count desc").each do |tag| %>
                        <li><%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id } %></li>
                      <% end %>
                      </ul>
                      <span class="clear"></span>
                    </div>
                  </div>
                  <div class="job-interactions">
                    <div class="job-fav"></div>
                  </div>
                  <span class="clear"></span>
                </div>
                <%
                  likeClass = "likes-button like icon"
                  if user_signed_in?
                    if current_user.voted_up_on? job
                      likeClass << " voted"
                    end
                  end
                  if job.likes.size == 0
                    likeClass << " no-votes"
                  end
                %>
                <div class="job-likes">
                  <% if user_signed_in? %>
                    <%= link_to '', like_job_path(job), :class => likeClass, :method => :put, :remote => true, :"data-id" => job.id%>
                  <% else %>
                    <%= link_to '', login_path, :class => "like icon no-login"%>
                  <% end %>
                  <div class="likes-number <% if job.likes.size == 0 %>hidden<%end%>"><%= job.likes.size %></div>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= t('jobs_no_jobs') %>
          <%  end %>
        </div>
      </div>
    </div>
    <div class="content-box right">
      <div class="linked-workers">
        <h2>Arbeiter</h2>
        <% unless @workers.empty? %>
          <div class="workers-list">
            <% @workers.each do |worker| %>
              <div class="worker">
                <div class="left"><span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker %></span></div>
                <div class="right"><%= link_to worker.name, worker %></div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= t('workers_no_workers') %>
        <%  end %>
      </div>
    </div>
  <%end%>
</div>
