<div class="content white">
  <div class="container-fluid">
    <h1>Verbindungen zum Tag <span><%=@tag.name%></span></h1>
      <%if @supplies.blank? && @demands.blank? && @users.blank? %>
        <div class="content-box">
          <span class="notice">Keine Verbindungen gefunden</span>
        </div>
      <%else%>
      <div class="row">
        <div id="workers-overview" class="col-md-6">
          <h2><%=t('worker_overview')%></h2>
          <% if @users.blank? %>
            <span class="notice"><%= t('no_users_available') %></span>
          <% else %>
            <div id="list-users">
              <%= render "users/users" %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <h2><%=t('similar_tags')%></h2>
          <% if @related_tags.blank? %>
            <span class="notice"><%= t('tags_not_found') %></span>
          <% else %>
            <ul class="tag-list">
              <% tag_cloud(@related_tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
                <li><%= link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => "tag " + css_class %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
  <div id="tag-rel-pins-header" class="container-fluid">
    <h2><%= t("pins_related_tags") %></h2>
    <div id="pin-type-header">
      <div class="header supply">
        <h3>
          <span class="icon loudspeaker"></span>
          <span class="icon-label"><span class="pre"><%= t('pins_list_pre') %></span> <%= t('pins_list_supplies') %></span>
        </h3>
      </div>
      <div class="header filter-wrapper">
        <div class="filter">
          <%= form_tag pins_path, :method => 'get', :id => 'pins-search' do %>
            <%= text_field_tag :name, params[:name], :placeholder => t('filter_by'), :class => 'search-input form-control',
            :data => { :scope => "pins" } %>
          <% end %>
        </div>
      </div>
      <div class="header demand">
        <h3>
          <span class="icon-label"><span class="pre"><%= t('pins_list_pre') %></span> <%= t('pins_list_demands') %></span>
          <span class="icon search"></span>
        </h3>
      </div>
    </div>
  </div>
  <div id="tag-rel-pins-content">
    <div id="list-pins">
      <div class="supplies list">
        <div class="container-fluid">
          <div class="row">
            <div class="pin-add-wrapper">
              <div class="pin-add">
                <a href="<%=new_pin_path%>/supply">
                  <span class="icon add"></span>
                  <span class="icon-label"><%= t("pins_new_supply") %></span>
                </a>
              </div>
            </div>
            <% if @supplies.blank? %>
              <div class="no-entries">
                <span class="notice"><%= t('pins_no_pins') %></span>
              </div>
            <% else %>
              <% @supplies.in_groups_of(2, false).each do |sup| %>
                <% sup.each do |pin| %>
                  <%= render :partial => "pins/pin_box", :locals => {:pin => pin} %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="demands list">
        <div class="container-fluid">
          <div class="row">
            <div class="pin-add-wrapper">
              <div class="pin-add">
                <a href="<%=new_pin_path%>/demand">
                  <span class="icon add"></span>
                  <span class="icon-label"><%= t("pins_new_demand") %></span>
                </a>
              </div>
            </div>
            <% if @demands.blank? %>
              <div class="no-entries">
                <span class="notice"><%= t('pins_no_pins') %></span>
              </div>
            <% else %>
              <% @demands.in_groups_of(2, false).each do |dem| %>
                <% dem.each do |pin| %>
                  <%= render :partial => "pins/pin_box", :locals => {:pin => pin} %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "pins" %>
