<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @worker.name %>
</p>

<p>
  <b>Pass:</b>
  <%= @worker.pass %>
</p>

<p>
  <b>Email:</b>
  <%= @worker.email %>
</p>


<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
