<h1>Alle Aktivitäten</h1>

<% @activities.each do |activity| %>
  <h3><%= link_to activity.user.name, activity.user %> schrieb <%= link_to activity.created_at, activity %></h3>
    <p><%= activity.content %></p>
    <ul>
      <li><%= link_to 'Show', activity %></li>
      <li><%= link_to 'Edit', edit_activity_path(activity) %></li>
      <li><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  <hr />
<% end %>
