<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<p>
  <b>E-Mail:</b>
  <%= @user.email %>
</p>

<div class="tags">
  <% @user.skills.each do |tag| %>
    <%= link_to tag.name, { :controller => :tags, :action => :show, :id => tag.id }, :class => "tag3" %>
  <% end %>
</div>

<div class="similar-workers">
  <h2>Ähnliche Arbeiter</h2>
  <% if @similar_users.empty? %>
     Sorry, keine Übereinstimmungen gefunden!
  <% else %>
    <div class="workers-list">
      <ul>
        <% @similar_users.each do |worker|%>
          <li>
            <span class="profile-avatar"><%= link_to image_tag(avatar_url(worker), alt: "?"), worker, :title => worker.name, :rel => "tipsy" %></span>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
