<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Duhajo" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div id="duhajo" class="off-canvas-wrap">
      <div class="inner-wrap">
        <div id="topbar" class="contain-to-grid sticky">
          <nav class="top-bar hide-for-small" data-topbar>
            <section class="top-bar-section row">
              <!-- Right Nav Section -->
              <div class="small-4 large-4 columns">
                <ul>
                  <li class="has-dropdown">
                    <%= form_tag(searches_path, :method => "get", id: "search-form") do %>
                      <%= text_field_tag :search, params[:search], placeholder: "Search Jobs" %>
                    <% end %>
                    <%if user_signed_in? %>
                      <ul class="dropdown">
                        <li><%= render :partial => "myjobs", :my_jobs => @my_jobs %></li>
                      </ul>
                    <% end %>
                  </li>
                </ul>
              </div>

              <div class="small-4 large-4 columns center" id="header-logo">
                <%= link_to image_tag("logo.png"), root_path %>
              </div>

              <!-- Left Nav Section -->
              <div class="small-4 large-4 columns">
                <ul class="right">
                <%if user_signed_in? %>
                    <li class="has-dropdown">
                      <a href="/myprofile" class="overflow">
                        <span class="profile-avatar small-5 columns"><%= image_tag avatar_url(current_user), alt: "?" %></span>
                        <span class="profile-name small-7 columns"><%= current_user.name %></span>
                      </a>
                      <ul class="dropdown">
                        <li class="profile">
                          <a href="/myprofile">
                            <span><!-- leer --></span>
                          </a>
                        </li>
                        <li id="editprofile"><a href="/users/<%= current_user.id %>/edit">Profil bearbeiten</a></li>
                        <li id="logout"><%= link_to "Abmelden", '/logout'%></li>
                      </ul>
                    </li>
                <% else %>
                  <li>
                    <%= link_to "Anmelden", new_user_session_path%>
                  </li>
                  <li><%= link_to "Registrieren", new_user_registration_path%></li>
                <% end %>
                </ul>
              </div>
            </section>
          </nav>
          <nav class="tab-bar show-for-small">
            <a class="left-off-canvas-toggle menu-icon">
              <span>Duhajo</span>
            </a>
          </nav>
          <aside class="left-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label class="first">Duhajo</label></li>
              <li><%= link_to "Home", root_path %></li>
            </ul>
          </aside>
        </div>      
        <div id="main">
          <div class="full-width navigation-area white-panel" id="main-navigation">
            <div class="row">
              <div class="large-8 small-centered center columns">
                <ul class="row">
                  <li class="small-3 columns <%=cp("dashboard")%>">
                    <a href="<%=dashboard_path%>">
                      <span class="icon large center dashboard"></span>
                      <span class="icon-label"><%= t('main_nav_dashboard')%></span>
                    </a>
                  </li>
                  <li class="small-3 columns <%=cp("jobs")%>">
                    <a href="<%=jobs_path%>">
                      <span class="icon large center jobs"></span>
                      <span class="icon-label"><%= t('main_nav_jobs')%></span>
                    </a>
                  </li>
                  <li class="small-3 columns <%=cp("users")%>">
                    <a href="<%=users_path%>">
                      <span class="icon large center workers"></span>
                      <span class="icon-label"><%= t('main_nav_workers')%></span>
                    </a>
                  </li>
                  <li class="small-3 columns <%=cp("places")%>">
                    <a href="<%=places_path%>">
                      <span class="icon large center places"></span>
                      <span class="icon-label"><%= t('main_nav_places')%></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="full-width content-area">
            <div id="content-container">
              <div id="content-wrapper">
                <%= yield %>
                <%= yield :scripts %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>