<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  <title><%= content_for?(:title) ? yield(:title) : "Duhajo" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<div id="duhajo">
  <nav id="topbar" class="navbar-default navbar-inverse" role="navigation">
    <section class="container-fluid">
      <div class="row">
        <!-- Left Nav Section -->
        <div id="search-wrapper">
          <ul id="search-box">
            <%= form_tag(jobs_path, id: "search-form") do %>
                <li class="dropdown">
                  <a href="javascript:;" id="my-jobs-link"><span class="icon list"></span></a>
                  <%= autocomplete_field_tag 'search', '', autocomplete_job_title_jobs_path, placeholder: "Search Pins",
                      id: "search-input", class: "form-control dropdown-toggle", data: {:toggle => "dropdown"} %>
                  <ul id="my-jobs-list" class="ui-menu">
                    <%= render :partial => 'myjobs', :my_jobs => @my_jobs %>
                  </ul>
                </li>
            <% end %>
          </ul>
        </div>

        <div id="header-logo" class="navbar-header">
          <%= link_to image_tag("logo.png"), root_path %>
        </div>

        <!-- Right Nav Section -->
        <div id="user-navigation">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle overflow" data-toggle="dropdown">
                  <span class="profile-avatar"><%= image_tag avatar_url(current_user.email), alt: "?", class: "img-circle" %></span>
                  <span class="profile-name"><%= current_user.name %></span>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="profile">
                    <a href="/myprofile">
                      <span>Profil anzeigen</span>
                    </a>
                  </li>
                  <li id="editprofile"><a href="/users/<%= current_user.id %>/edit">Profil bearbeiten</a></li>
                  <li id="logout"><%= link_to t('logout'), '/logout' %></li>
                </ul>
              </li>
            <% else %>
              <li class="login"><%= link_to t('login'), new_user_session_path %></li>
              <li class="register"><%= link_to t('register'), new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </section>
  </nav>
  <div id="main">
    <div id="main-navigation" class="navigation-area white-panel">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
              <ul class="nav">
                <li class="col-xs-3 <%= cp("dashboard") %>">
                  <a href="<%= dashboard_path %>">
                    <span class="icon pulse"></span>
                    <span class="icon-label"><%= t('main_nav_dashboard') %></span>
                  </a>
                </li>
                <li class="col-xs-3 <%= cp("jobs") %>">
                  <a href="<%= jobs_path %>">
                    <span class="icon job"></span>
                    <span class="icon-label"><%= t('main_nav_jobs') %></span>
                  </a>
                </li>
                <li class="col-xs-3 <%= cp("users") %>">
                  <a href="<%= users_path %>">
                    <span class="icon users"></span>
                    <span class="icon-label"><%= t('main_nav_workers') %></span>
                  </a>
                </li>
                <li class="col-xs-3 <%= cp("places") %>">
                  <a href="<%= places_path %>">
                    <span class="icon map"></span>
                    <span class="icon-label"><%= t('main_nav_places') %></span>
                  </a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div id="content-wrapper">
      <%= yield %>
      <%= yield :scripts %>
      <%= render partial: 'initchats', :init_chats => @init_chats %>
    </div>
    <div id="footer">
      <div class="icons">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce">Daniel Bruce</a>, <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a>, <a href="http://www.flaticon.com/authors/catalin-fertu" title="Catalin Fertu">Catalin Fertu</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
    </div>
  </div>
  <%= render 'layouts/modal' %>
  <%= javascript_include_tag 'core' %>
</div>
</body>
</html>
