<div class="row">
  <div class="small-3 small-centered columns center white-panel" id="registration-page">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %><br />
      <%= f.text_field :name, :autofocus => true %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email%></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.label :locale, "Sprache" %><br />
      <%= f.select :locale, I18n.available_locales %>

      <div class="row">
        <div class="large-6 columns">
          <%- if controller_name != 'sessions' %>
            <%= link_to "Sign in", new_session_path(resource_name), :class => "sec-button left" %><br />
          <% end -%>
        </div>
        <div class="large-6 columns right">
          <%= f.submit "Sign up", :class => "button right" %>
        </div>
      </div>
    <% end %>
  </div>
</div>